
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
        
<!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        {% endblock %}
        
    </head>
  
    <body>
        {%block content%}
        <div class="container" style= "font-family:monospace;background-color:whitesmoke">
            <div class="jumbotron" style="background-color:rgb(14, 13, 13)">
                <h2 style="text-align:center;color: white">Welcome</h2>
                <h3 style="text-align:center;color: white">to</h3>
                <h1 style="text-align:center;color: white">Pitch</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-lg" style="background-color:rgb(92, 13, 13)">
                            <h3 style="color: bisque; font-family: monospace; font-size: 30px;text-align:center">Pitches</h3>
                            <p style="font-family:monospace; font-size: 20px;color: black;text-align:center">One minute is quiet enough to use,pitch out!!</p>
                            <a href="{{url_for('main.new_pitch')}}" class="btn btn-primary" style="color:white;margin-left: 45%;background-color: rgb(6, 7, 43)">New pitch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endblock%}
    </body>
</html>